fortunes/*.dat
bookmarks/
quickmarks
QtProject.conf
nohup.out
qutebrowser/.config/qutebrowser/dracula
qutebrowser/hintsdictionary
.netrwhist
node_modules
.git
env.bak
x/.Xresources
zsh/.zcompdump*
keyboard/init_*
nvim/pack
**/packer_compiled.lua
