[user]
	email = lex@work.com
	name = Alexander
[log]
	decorate = true
	abbrevCommit = true
[diff]
	tool = meld
[color]
	ui = always
	status = auto
	branch = auto
  diff = auto
[merge]
	ff = only
	tool = meld
	conflictstyle = diff3
[mergetool]
	keepBackup = false
[apply]
	whitespace = nowarn
[push]
	default = simple
	followTags = true
[transfer]
	fsckobjects = false
[http]
  sslVerify = true
[help]
  autocorrect = 1
[github]
  user = alexandervantrijffel
[web]
  browser = google-chrome
[status]
  showUntrackedFiles = all
