[user]
	email = alexander@here
	name = Alexander van Trijffel
[log]
	decorate = true
	abbrevCommit = true
[core]
	autocrlf = false
	excludesfile = ~/.gitignore
[alias]
    ga = git add .
	gs= git status --untracked-files=all
	gp = git push
	gpff = git pull --ff-only
	gl = git log --max-count=12 --decorate --graph --color --pretty=format:'%C(yellow)%h %C(cyan)%ad %Cgreen%d %Creset%s %C(yellow)%an' --dat$
	gcm = "git commit -m  "
	gd = git diff -w --word-diff
[color]
        diff = auto
        status = auto
        branch = auto
        ui = always	
[apply]
        whitespace = nowarn
[merge]
        conflictstyle = diff3
[mergetool]
        keepBackup = false
		ff = only
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to surpress warning message
        default = simple
     	followTags = true
[github]
        user = alexandervantrijffel
[web]
        browser = google-chrome
[status]
        showUntrackedFiles = all
[transfer]
        fsckobjects = true
