[user]
	name = Alexander van Trijffel
	email = lexmail@gmail.com
[log]
	decorate = true
	abbrevCommit = true
[color]
	ui = true
	status = auto
	branch = auto
  diff = auto
[merge]
  # ff = only
	tool = fugitive
	renormalize = true
[apply]
	whitespace = nowarn
[push]
	default = simple
	followTags = true
[transfer]
	fsckobjects = false
[http]
  sslVerify = true
[help]
  autocorrect = 1
[github]
  user = alexandervantrijffel
  email = lexmail@gmail.com
[status]
  showUntrackedFiles = all
[credential]
	helper = store
	canFallBackToInsecureStore = true
	helper = !/usr/lib/jvm/java-11-openjdk-amd64/bin/java -Ddebug=false -Djava.net.useSystemProxies=true -jar /opt/git-credential-manager/git-credential-manager-2.0.4.jar
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
  # fix CRLF by replacing it with LF
  autocrlf = input
[pull]
	rebase = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[branch]
	autosetuprebase = always
[mergetool "fugitive"]
	cmd = vim -f -c \"Gvdiff\" \"$MERGED\"
[rerere]
	enabled = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
